body{
  width: 100vw;
  /* height: 100vh;  */
}

.bg{
  top: 0px;
  position: fixed;
  background: url(../Images/theater.jpeg) center center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.login_page .content{
  position:relative;
  display: flex;
  flex-flow: column;
  padding: 50px 50px 10px 50px;
  margin: calc((100vh - 592.19px) / 2) auto;
  width: 420px;
  background-color: #FFFFFF;
  text-align:center;
}

.content .logo{
  width: 300px;
}

.content h1{
  font-size: 16px;
  letter-spacing: 1.2px;
  font-weight: normal;
  margin-bottom: 70px;
}

.content .typeIn {
  line-height: 50px;
}

.typeIn .error{
	position: absolute;
	top: 227px;
	left: 93px;
	color: #FF0000;
  font-size: 10px;
}

.typeIn input {
  width: 240px;
  height: 35px;
  border-radius: 3px;
  font-size: 12px;
  padding-left: 10px;
  letter-spacing: 0.8px;
  border: solid 1px #e0e0e0;
  background-color: #fafafa;
}


.typeIn button{
  width: 240px;
  height: 35px;
}

 .btn-primary{
  background-color: #4266b2;
  border-color: #2e6da4;
}

.forgetPart {
  font-size: 13px;
  letter-spacing: 0.8px;
  color: #9b9b9b;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.forgetPart a{  /* 為何無法由上個code一起指定 */
    color: #9b9b9b;
}

.footer{
  font-size: 12px;
  letter-spacing: 1px;
  color: #4a4a4a;
  margin-top:30px;
}
